/* Your CSS here. */

.card{
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* padding: 10px;
    margin: 200px; */
    width: 600px;
    height: 500px;
    background-color: #7f857e;
    margin: auto;
    margin-top: 120px;
    box-sizing: border-box;
}
.styled-photo {
    display: block;
    margin: 0 auto;
    /* border-radius: 15px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    padding-top: 20px;
}

.name {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.email {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
}

.link {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.discription1 {
    
    margin-top: 20px;
    font-size: 18px;
    margin-left: 80;
    margin-right: 20px;
    padding-left: 20px;
}

.discription2 {
    
    margin-top: 20px;
    font-size: 18px;
    margin-left: 80;
    margin-right: 20px;
    padding-left: 20px;
}